<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bellaswipe - Startseite</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="icon" href="logo.jpg" type="image/jpg">
</head>
<body>
  <div class="main-container">
        <div class="welcome-section">
            <h1>Wilkommen bei Bellaswipe</h1>
            <p>Ihre Plattform für Beauty-Dienstleistungen</p>
            <div class="action-buttons">
                <a href="{{ url_for('login') }}" class="btn login-btn">Einloggen</a>
                <a href="{{ url_for('register') }}" class="btn register-btn">Registrieren</a>
            </div>

</body>
</html>
